<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ef.masterslave" type="NDF.Data.EntityFramework.MasterSlaves.ConfigFile.EFMasterSlaveSection, NDF.Data.EntityFramework"
             requirePermission="false" />
  </configSections>

  <ef.masterslave>
    <applyItem targetContext="SBMY.Data.SbmyDbContext, SBMY.Data"
               autoSwitchSlaveOnMasterFauled="false" autoSwitchMasterOnSlavesFauled="true" 
               slaveRandomization="true" slaveScanInterval="60" >
      <master connectionString="server=192.168.0.115;port=3306;user id=sbmy;password=77889999e*;persistsecurityinfo=True;database=sbmy2015;convertzerodatetime=True;allowzerodatetime=True" />
      <slaves>
        <add connectionString="server=192.168.0.115;port=3307;user id=sbmy;password=77889999e*;persistsecurityinfo=True;database=sbmy2015;convertzerodatetime=True;allowzerodatetime=True" order="0" />
        <add connectionString="server=192.168.0.115;port=3308;user id=sbmy;password=77889999e*;persistsecurityinfo=True;database=sbmy2015;convertzerodatetime=True;allowzerodatetime=True" order="1" />
        <add connectionString="server=192.168.0.115;port=3309;user id=sbmy;password=77889999e*;persistsecurityinfo=True;database=sbmy2015;convertzerodatetime=True;allowzerodatetime=True" order="2" />
      </slaves>
    </applyItem>
  </ef.masterslave>

</configuration>