<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="6.1.2" targetFramework="net45" />
</packages>